$bg-blue-color: #558cb7;
$bg-light-blue-color: #82b3d9;

$black: #000000;
$white: #ffffff;
$text-dark-grey: #333333;
$text-light-grey: #777777;
$text-error-color: #9f2b11;
$text-approve-color: #007b1b;

$border-grey-color: #dddddd;
$border-input-focus-color: #82b3d9;

$tablet: 768px;
$desktop: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
