$bg-blue-color: #558cb7;
$bg-blue-color-disabled: #82b3d9;

$black: #000000;
$white: #ffffff;
$text-dark-grey: #333333;
$text-error-color: #9f2b11;

$border-grey-color: #dddddd;
$border-input-focus-color: #82b3d9;

$tablet: 768px;
$desktop: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
