@mixin list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin respond-above($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin respond-between($lower-breakpoint, $upper-breakpoint) {
  @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
    @content;
  }
}

@mixin retina-display($retina-dpi, $retina-dppx) {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
