.btn {
  max-width: 200px;
  width: 100%;
  display: block;
  border: none;
  padding: 13px 30px;
  font: inherit;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background-color: $bg-blue-color;
  border-radius: 3px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

  &:hover,
  &:focus {
    box-shadow: 0 2px 10px rgba($black, 0.4);
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    pointer-events: none;
    background-color: $bg-light-blue-color;
  }
}
